<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  <title>Coffee & Mood & Fidelity</title>
</head>

<body bgcolor="#FFFFFF">
  <center>
    <img src="https://core-public.s3.eu-central-1.amazonaws.com/core-logo-white-200x200.png"
      style="display: block; margin-bottom: 18px; width:200px; height:200px;" alt="Coffee & Mood & Fidelity" />
    <span style="color: rgb(105, 105, 105); font-size: 22px;">Welcome to Coffee & Mood & Fidelity - just one more step!</span><br><br>
    <span style="color: rgb(105, 105, 105); font-size: 18px;">Please click below to activate your account.</span><br>
    <span style="color: rgb(105, 105, 105); font-size: 18px;">This helps us verify the email address belongs to
      you.</span><br><br>
    <span style="font-size: 15px;"><a href="{{link}}" target="_blank" rel="noopener noreferrer">Follow this link to
        activate your
        account</a></span><br><br>
    <span style="color: rgb(128, 128, 128); font-size: 12px;">If you did not sign up to Coffee & Mood & Fidelity, please ignore this
      email.</span>
  </center>
</body>

</html>